<div class="login_div">
<%= form_for :user, url:  check_creds_path , method: :post do |t|%>
<div class="login_form">
  <ul>
<%=t.label :username%>
<%= t.text_field :username%>
<br>
<%=t.label :password%>
<%= t.text_field :password%>
<br><br>
<%= t.submit %>
<%= link_to "Register", new_user_path %>
  </ul>
</div>
<%end%>
</div>
