<% if @user.errors.any? %>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

  <% end %>

  <div class="login_div">
  <%= form_for :user do |t|%>
  <div class="login_form center" >
    <ul class="center">
  <%=t.label :username%>
  <%= t.text_field :username%>
  <br>
  <%=t.label :password%>
  <%= t.text_field :password%>
  <br><br>
  <%= t.submit "Register" %>

    </ul>
  </div>
  <%end%>
  </div>
