<% if @user.errors.any? %>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

  <% end %>

  <!DOCTYPE html>
  <html>
  <style>
  input[type=text], select {
      width: 80%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }

  input[type=submit] {
      width: 80%;
      background-color: #ff5252;
      color: white;
      padding: 5%;
      margin: 8px 0;
      border: none;
      border-radius: 3%;
      cursor: pointer;
  }

  input[type=submit]:hover {
      background-color: #d50000;
  }

  div {
    border-radius: 3%;
    background-color: #f2f2f2;
    padding: 3%;
    text-align: left;
  }
  
  </style>
  <body>

    <div class="wrapper">
      <h2>Create an Account<h2>
      <%= form_for :user do |t|%>
      <div class="font_medium">
        <%=t.label :username%>
        <%= t.text_field :username, placeholder:"Your username..."%>
        <br>
        <%=t.label :password%>
        <%= t.text_field :password, placeholder:"Your password..."%>
        <br><br>
        <%= t.submit "Register" %>
          <%end%></div><br><br>
          </div>
        </body>
        <div class="gallery", link_to"http://localhost:3000/"></div>
        </html>
