<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: 2% solid #ccc;
    border-radius: 7%;
    font-size: 70%;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 5% 5%;
    background-repeat: no-repeat;
    padding: 6%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    display: inline-block;
}

input[type=text]:focus {
  margin: auto;
    width: 100%;
}

.button {
    background-color: #ff5252;
    border-radius: 5%;
    color: white;
    padding: 4% 20%;
    text-align: center;

    display: inline-block;
    font-size: medium;
    cursor: pointer;
}
.button:hover{
  background-color: #d50000;
}


div.gallery:hover {
    border: 1px solid #777;
}
div {
  border-radius: 3%;
  background-color: #f2f2f2;
  padding: 5%;
  text-align: left;
}

  input[type=submit] {
      width: 80%;
      background-color: #ff5252;
      color: white;
      padding: 5%;
      margin: 8px 0;
      border: none;
      border-radius: 3%;
      cursor: pointer;
  }

  input[type=submit]:hover {
      background-color: #d50000;
  }



</style>

<body>
  <div class="wrapper">

<h2>Join a Playlist</h2>


<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


<%= form_for @playlist, url: join_playlist_path do |t|%>

  <%=t.label :name%>
  <%= t.text_field :name, placeholder: "Enter playlist name here..."%>
  <br><br>
  <%=t.label :passphrase%>
  <%= t.text_field :passphrase, placeholder: "Enter passphrase here..."%>
  <br><br>
  <%= t.submit "Join Playlist" %></div>

  <%end%>
</body>
</div>
</html>
