  <html>
  <style>

  input[type=text], select {
      width: 80%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;

  }

  input[type=submit] {
      width: 80%;
      background-color: #ff5252;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

input[type=submit]:hover {
      background-color: #d50000;
  }

div.wrapper {
    border:1px solid black;
    padding-right: 5%;
    background-color: #f2f2f2;
    padding-right: 2%;
    padding-bottom: 25%;

    position:fixed;
     top: 20%;
     left: 50%;
     width:30em;
     height:18em;
     margin-top: -9em; /*set to a negative number 1/2 of your height*/
     margin-left: -15em; /*set to a negative number 1/2 of your width*/
     border: 1px solid #ccc;
     background-color: #f3f3f3;
  }

input[type=submit]:hover {
      background-color: #d50000;
}

div {
    border-radius: 3%;
    background-color: #f2f2f2;
    padding: .5%;
    text-align: left;
}
div {
  border-radius: 3%;
  background-color: #f2f2f2;
  padding: 3%;
  text-align: left;
}

  </style>
  <body>
    <div class="wrapper">
      <h2>Create a Playlist</h2>
    <%= form_for @playlist do |t|%>

      <%=t.label :name%>
      <%= t.text_field :name, placeholder: "Playlist name here..."%>
      <br>
      <%=t.label :passphrase%>
      <%= t.text_field :passphrase, placeholder: "Passphrase here..."%>
      <br><br>
      <%= t.submit "Create Playlist " %>

      <%end%>
      <br><br>

  </div>


  </body>
  </html>
